<%- include('../partials/header') -%>
<section>
    <div class="error">
        <h1>Page Not be Found</h1>
        <img src="images/error-404.png" alt=""> 
        <p></p>
        <a class="btn btn-dark" href="/">Back to</a>
    </div>
</section>
<%- include('../partials/footer') -%>

